apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "actual-budget.fullname" . }}-config
  labels:
    {{- include "actual-budget.labels" . | nindent 4 }}
data:
  ACTUAL_PORT: {{ .Values.service.port | quote }}
  ACTUAL_DATA_DIR: {{ .Values.data.rootDirectory | default "/data" | quote }}
  ACTUAL_USER_FILES: {{ .Values.data.userFiles | default "/data/user-files" | quote }}
  ACTUAL_SERVER_FILES: {{ .Values.data.serverFiles | default "/data/server-files" | quote }}